*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color:#333 ;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 500px;
    height: 380px;
    background-color: #f5f1f5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba (0 0 0 0.3)
}
.Product {
    height: 380px;
    width: 250px;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* margin-top: 30px; */
}

.left {
    margin: 0px;
    /* background-color: #ffff; */
    height: 150px;
    width: 250px;
    align-items: center;
    display: flex;
}

.right {
    display: inline-block;
    /* background-color: rgb(247, 251, 251); */
    height: 380px;
    width: 225px;
    justify-items:center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
}

.perfum {
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-items: center;
    color: #888686;
    font-weight: bold;
    height: 30px;
    /* margin: 10px; */
}

h3 {
    display: flex;
    justify-items: center;
    color: #000000;
    font-weight: 900px;
    height: 100px; 
    margin: 10px;
}

.words {
    display: flex;
    justify-items: center;
    color: #6c6a6a;
    font-weight: bold;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.amount {
    color: #036025;
    display: flex;
    justify-items: center;
    margin-bottom:20px;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    align-content: center;
    margin-left: 10px;
}

.i69{
    display: flex;
    color: grey;
    font-size: 12px;
    margin-left: 20px;
}

.cart {
    display: flex;
    justify-content: center;
    margin-top:40px;
    border-radius: 10px;
    border: 30px;
    background-color: #011a17;
    padding: 10px;
    color: #ffffff;
    margin: 10px;
    font-family:'Orelega One';
    font-weight: 400;
    font-size:12px;
    cursor: pointer;
}
.cart :hover {
    background-color:black; 
    margin: 2px;
}
